h3{
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}
ul {
    padding-left: 0px;
    margin-bottom: 0px;

}
ul li{
    list-style: none;

}
.flex{
    display: flex;
}
.flex-item{
    background-color: lightseagreen;
    color: black;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    line-height: 100px;
    text-align: center;
    font-size: 20px;
    margin-right: 10px;
}
.order{
    display: flex;
}
.order #_1{
    order:3;
}
.order #_2{
    order:1;
}
.order #_3{
    order:2;
}
.order #_4{
    order:5;
}
.order #_5{
    order:4;
}
.flex-grow{
    display: flex;
}
.flex-grow #_11{
    flex-grow: 4;
}
.flex-grow #_12{
    flex-grow: 1;
}
.flex-grow #_13{
    flex-grow: 2;
}
.flex-grow #_14{
    flex-grow: 6;
}
.flex-grow #_15{
    flex-grow: 3;
}
.flex-direction{
    display: flex;
    flex-direction: row;
}
.row-reverse{
    display: flex;
    flex-direction: row-reverse;
}
.column{
    display: flex;
    flex-direction: column;
}
.column-reverse{
    display: flex;
    flex-direction: column-reverse;
}
.flex-shrink{
    display: flex;
}
.flex-shrink .flex-item:nth-of-type(2){
    flex-shrink: 3;
}
.nowrap{
    display: flex;
    flex-wrap: nowrap;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
}
.wrap-reverse{
    display: flex;
    flex-wrap: wrap-reverse;
}
.flex-basis{
    display: flex;
    flex-basis: auto;
}
.flex-flow{
    display: flex;
    flex-flow: row-reverse wrap;
}
.flex-start{
    display: flex;
    justify-content: flex-start;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
.center{
    display: flex;
    justify-content: center;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.space-around{
    display: flex;
    justify-content: space-around;
}
.space-evenly{
    display: flex;
    justify-content: space-evenly;
}
.start{
    display: flex;
    justify-content: start;
}
.end{
    display: flex;
    justify-content: right;
}
.flex-start1{
    display: flex;
    align-items: flex-start;
    height: 250px;
    border: 1px solid red;
}
.flex-end1{
    display: flex;
    align-items: flex-end;
    height: 250px;
    border: 1px solid red;
}
.center1{
    display: flex;
    align-items: center;
    height: 250px;
    border: 1px solid red;
}
.flex-start2{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 500px;
    border: 1px solid green;
}
.flex-end2{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    height: 500px;
    border: 1px solid green;
}
.center2{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 500px;
    border: 1px solid green;
}
.space-between2{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 500px;
    border: 1px solid green;
}
.space-around2{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    height: 500px;
    border: 1px solid green;
}
.space-evenly2{
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    height: 500px;
    border: 1px solid green;
}
ul.adapter {
    display: flex;
    flex-wrap: wrap;
  }
  
 ul.adapter li {
    height: 40vh;
    flex-grow: 1;
  }
  
 ul.adapter li:last-child {
    /* // There's no science in using "10" here. In all my testing, this delivered the best results. */
    flex-grow: 10;
  }
  
ul.adapter li  img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }
  
  /* // ADVANCED */
  
  /* // Portrait */
  
  @media (max-aspect-ratio: 1/1) {
    ul.adapter li {
      height: 30vh;
    }
  }
  
  /* // Short screens */
  
@media (max-height: 480px) {
    ul.adapter li {
      height: 80vh;
    }
  }
  
  /* // Smaller screens in portrait */
  
@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    ul.adapter {
      flex-direction: row;
    }
  
    ul.adapter li {
      height: auto;
      width: 100%;
    }
    ul.adapter li img {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
    }
  }